colorHeader = #3438E7
colorFooter = #3438E7
colorTitulos = #FFFFFF
colorAzulAguaMarina = #14BABC
colorNaranja = #EC6409

@font-face {
  font-family: 'estrella';
  src:  url('../fonts/icomoon.eot?s5xru1');
  src:  url('../fonts/icomoon.eot?s5xru1#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?s5xru1') format('truetype'),
    url('../fonts/icomoon.woff?s5xru1') format('woff'),
    url('../fonts/icomoon.svg?s5xru1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.headerppal
	background colorHeader
	overflow hidden
	
	.header-titulo
		color colorTitulos
		font-size 45px
		font-weight bold
		margin-bottom 0px
		
	.header-titulo-a
		color colorTitulos
		font-size 20px
		margin-top 0px
		
	.header-registrarse
		background colorNaranja
		color white
		text-decoration none
		padding 0.6em
		font-weight bold
	
	.header-logotipo		
		float left
		margin-right 100px
				
		img	
			border-right-style solid
			border-right-color white
			border-radius 60%			
			height 120px
			padding 20px
			width 120px
		
	.header-avatar
		float right	
		margin-top -100px	
		
		img
			height 80px
			width 80px
			border-radius 60%			
							
.menu
	background colorAzulAguaMarina
	border-left-color white
	border-left-width 15px
	border-left-style solid
	box-shadow 0px 13px 21px -6px rgba(0,0,0,0.75)
		
	ul
		height 45px
		margin 0
				
		li 
			display inline-block			
			line-height 45px
			padding 0 0.8em
			
			a 
				color colorTitulos
				text-decoration none
				

.footer
	
	background colorFooter
	
	.realizadopor		
		padding-top 30px
		
	.realizadoclase		
		padding-bottom 30px
		
	p		
		color white
		text-align center

.posts
	
	display flex
	display-direction row
	padding 1em
	margin 0
	margin-top 1em	
	
	.post
		width 50%
		box-shadow 12px 13px 33px -6px rgba(0,0,0,0.75)
		border 1px solid black
		margin 1em
		
		.post-titulo
			background #D2C6C6
			
			h2
				text-align center
				font-weight bold
				padding 0.3em 0
				margin 0
				
		.post-calificacion
			text-align center
			margin 0.5em 0
						
			.post-calif-estrella-llena
				text-decoration none
				
				&:before
					color colorNaranja
					content "\e9d9"
					font-family "estrella"
					
			.post-calif-estrella-vacia
				text-decoration none
				
				&:before
					color colorNaranja
					content "\e9d7"
					font-family "estrella"
								
		.post-video
			text-align center
			padding 0 0.5em
			
		.post-descripcion
			padding 0 0.5em
			
		.post-autor
			background colorAzulAguaMarina
			
			p
				text-align right
				font-weight bold
				color white
				padding 0.5em
				margin 0
				
			
			

			
			
		
	
